@model AnimeList.Class.ViewItens.GeneroViewItem

@{
    ViewData["Title"] = "Lista de Gênero";
    ViewBag.Title = "Index";
}

@if (Model.Message != null)
{
    <div class="alert @(Model.Message.isSucess ? "alert-success" : "alert-danger") alert-dismissible fade show" role="alert">
        @Model.Message.message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="container">
    <div class="row">
        <h2>Manutenção de Gêneros</h2>
    </div>

    <div class="row">
        <span>@Html.ActionLink("Novo", "Edit", "Genero", new { id = 0 }, new { @class = "btn btn-success btn-xs" })</span>
    </div>

    <div class="row">
        <table class="table table-bordred table-striped">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descrição</th>
                    <th>-</th>
                    <th>-</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Generos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Editar">
                                <span>@Html.ActionLink("Editar", "Edit", "Genero", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })</span>
                            </p>
                        </td>
                        <td>
                            <p data-placement="top" data-toggle="tooltip" title="Deletar">
                                <span>@Html.ActionLink("Deletar", "Delete", "Genero", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })</span>
                            </p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>